[submodule "NikeShoes-frontend"]
	path = NikeShoes-frontend
	url = https://github.com/Wesley-wsl/NikeShoes-frontend
[submodule "NikeShoes-backend"]
	path = NikeShoes-backend
	url = https://github.com/Wesley-wsl/NikeShoes-backend
